// theme colors ***********************
$dark: #015240;
// $violet:		#271F47;
// $primary:   #8AC140;
$secondary: #133c60;
$accent: #82b1ff;
$error: #d0021b;
$info: #0195da;
// $link: #0077ce;
$link: #004b7d;
// $success:   #8AC140;
$grey: #e6e7e8;
$grey1: #bdbdbd;
$grey2: #828282;
$grey3: #4f4f4f;
$grey4: #333333;
$yellow: #fec01d;
$cool: #c2c6cc;
$blue-grey: #607d8b;
$selection: #dee7f6;

$docolor: #008ad1;
$taskcolor: #6dae50;
// $dark:			#2C4159,

$small: 400px;
$md: 650px;
:root {
	--sm: 450px;
	--md: 650px;
}
