@import '@/assets/css/colors';

.rel {
	position: relative;
}

.zag {
	font-size: 1.8rem;
	color: #666;
}

.my {
	.v-label {
		font-size: 0.85rem;
	}
	.v-input__control {
		height: 20px;
	}
}
.editor .ql-toolbar.ql-snow {
	display: block;
}
.ql-toolbar.ql-snow {
	display: none;
}
.ql-editor {
	background: #fff;
}
